/* MASONRY JS STYLES START */
.masonry-grid {
  position: relative;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  width: 450px;
  margin-bottom: 10px;
}

.tall-img {
  height: 680px;
}

h2.sub-title {
  position: relative;
  display: block;
  margin: 70px auto;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
}

h2.sub-title::after {
  display: block;
  height: 2px;
  background-color: #000000;
  content: "";
  width: 100px;
  margin: 30px auto 0 auto;
}
/* MASONRY SECTION STYLES END */